<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    <meta name="description" content="{% block description %}{% endblock %}">
    {% block meta %}

    {% endblock %}
    <link rel="Shortcut Icon" href=/favicon.ico>

    {% load staticfiles %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/H-ui.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/app.css' %}"/>
    {% endblock %}

    <!--[if lt IE 9]>
    <script type="text/javascript" src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
    <script type="text/javascript" src="http://libs.useso.com/js/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {{ system.tongji_js|safe }}
    {% block topjs %}{{ system.top_js|safe }}{% endblock %}
</head>
<body>
<div class="wp">
    <header>
        {% block header %}

        {% endblock %}

    </header>
    <section class="container">
        {% block main %}

        {% endblock %}
    </section>
    <footer class="container">
        {% block footer %}

        {% endblock %}
    </footer>
</div>

{% block endjs %}
    <script src="//libs.useso.com/js/jquery/1.11.1/jquery.min.js"></script>

    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>

{% endblock %}

{{ system.end_js|safe }}
</body>
</html>