{% extends "base.html" %}

{% block header %}
    <div class="logo container">
        <a href="{{ novel.get_novel_url }}">{{ novel }}</a>
        <span>大作家<i>{{ novel.author }}</i>新书</span>
    </div>
    <div class="container" style="padding-top: 0;padding-bottom: 0">
        <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a title="分享到QQ空间" href="#"
                                                                                          class="bds_qzone"
                                                                                          data-cmd="qzone"></a><a
                title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a><a title="分享到腾讯微博" href="#"
                                                                                   class="bds_tqq" data-cmd="tqq"></a><a
                title="分享到人人网" href="#" class="bds_renren" data-cmd="renren"></a><a title="分享到微信" href="#"
                                                                                    class="bds_weixin"
                                                                                    data-cmd="weixin"></a></div>

    </div>
{% endblock %}

{% block main %}
    <div class="top cl" xmlns="http://www.w3.org/1999/html">
        <div class="box top-l l">
            <div class="l novelimg pd-10">
                <img src="{{ novel.get_img_url }}" alt="{{ novel }}" width="120" height="150"/>
            </div>
            <div class="l novelinfo pd-10">
                <h1>{{ novel }}</h1>

                <p>作者：{{ novel.author }}</p>

                <p class="text-overflow">最近更新：{{ novel.lastchaptertime|date:"Y:m:d H:i:s" }} &nbsp;&nbsp;最新章节：<a
                        href="{{ novel.get_lastchapter_url }}" title="{{ novel }}">{{ novel.lastchaptername }}</a></p>

                <div class="intro cl">
                    {{ novel.intro|safe }}
                </div>
            </div>
        </div>
        <div class="box top-r r">
            <div class="pd-10 tuijian">
                <h3>热门小说</h3>
                <ul>
                    {% for novel in hot_novels %}
                        <li class="text-overflow"><a href="{{ novel.get_novel_url }}" title="{{ novel }}">
                            {{ novel }}</a>/
                            <span style="color: #aeaa9c;font-size: 12px">{{ novel.author }}</span>
                        </li>

                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
    <dl class="cl box pd-10 chapters">
        <dt>
            {{ novel.author }}新书，最新章节
        </dt>
        <div class="cl"></div>
        {% for chapter in chapters %}
            <dd class="text-overflow"><a href="{{ chapter.get_chapter_url }}" title="{{ chapter }}">{{ chapter }}</a>
            </dd>
        {% endfor %}
    </dl>

    <div class="tuijian box cl pd-10">
        <h3>热门小说更新列表</h3>
        <ul>
            {% for novel in update_novels %}

                <li class="cl">
                    <div class="col1 text-overflow"><a href="{{ novel.get_novel_url }}"
                                                       title="{{ novel }}">{{ novel }}</a></div>
                    <div class="col2 text-overflow"><a
                            href="{{ novel.get_lastchapter_url }}">{{ novel.lastchaptername }}</a></div>
                    <div class="col3 text-overflow">{{ novel.author }}</div>
                    <div class="col4 text-overflow">{{ novel.lastchaptertime|date:"Y/m/d H:i:s" }}</div>
                </li>
            {% endfor %}

        </ul>
    </div>

{% endblock %}

{% block footer %}
    <div class="box cl pd-10 friendlink">
        <h3>友情链接</h3>

        {% for friendlink in friendlinks %}
            <a href="{{ friendlink.url }}">{{ friendlink }}</a>
        {% endfor %}
    </div>

    <div class="copyright">
        <p>{{ novel }}最新章节全部由来源于网络{{ novel }}吧，如果您有能力，请到正版网站，支持作者{{ novel.author }}最新大作 <a
                href="{{ novel.get_novel_url }}">{{ novel }}</a>！</p>

        <p>Copyright © <a href="{{ system.get_system_url }}">{{ system }}</a> All Rights Reserved.</p>
    </div>
{% endblock %}


{% block title %}{% if novel.seo_title %}{{ novel.seo_title|safe }}{% else %}{{ novel }}最新更新_{{ novel.author }}新书_{{ novel }}无弹窗5200在线阅读{% endif %}{% endblock %}


{% block keywords %}{% if novel.seo_keywords %}{{ novel.seo_keywords|safe }}{% else %}{{ novel }}最新更新,{{ novel }}无弹窗,{{ novel.author }}新书，{% endif %}{% endblock %}

{% block description %}{% if novel.seo_description %}{{ novel.seo_description }}{% else %}{{ novel }}是{{ novel.author }}的最新{{ novel.category }}小说，本站提供{{ novel }}最新更新，{{ novel }}无弹窗在线阅读。比笔趣阁，顶点，22mt，笔下文学更好的无弹窗小说网{% endif %}{% endblock %}


{% block endjs %}
{{ block.super }}
    <script>window._bd_share_config = {
    "common": {
        "bdSnsKey": {},
        "bdText": "",
        "bdMini": "1",
        "bdMiniList": false,
        "bdPic": "",
        "bdStyle": "1",
        "bdSize": "32"
    },
    "share": {},
    "image": {"viewList": ["qzone", "tsina", "tqq", "renren", "weixin"], "viewText": "分享到：", "viewSize": "16"},
    "selectShare": {"bdContainerClass": null, "bdSelectMiniList": ["qzone", "tsina", "tqq", "renren", "weixin"]}
};
with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
{% endblock %}
